@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-munchies-blue: #0033A0;
  --color-munchies-orange: #FF8200;
}
